include VERSION.txt
include LICENSE
include README.md
include CHANGELOG.md
include tox.ini
include pylintrc
recursive-include test *.py
recursive-include test *.spec
graft test/resources
global-exclude *.py[cod]